html {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://images7.alphacoders.com/317/thumb-1920-317196.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#titulo{
    text-align: center;
  /* centrado vertical */
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1000px;
}
#titulito {
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    position: center;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
    height: 1000px;
    }

#menu-principal{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px 20px 20px 20px;
}
#menu-principal li{
    float: left;
}
#menu-principal li a{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 14px 16px;
    color: white;
}
#menu-principal li a:hover:not(.active){
    background-color: blue;
}
.active{
    background-color: yellowgreen;
    font-weight: bold;
}
.prueba{
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 24px;    
    margin: auto;     
    width: 480px; 
    text-align: left;    
    border-collapse: collapse;
    background-image: linear-gradient(45deg, #0cf2182d, rgba(235, 192, 35, 0.668)); 
}

th {     
    font-size: 25px;     
    font-weight: normal;     
    padding: 8px;   
    
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; color: rgb(113, 153, 233); 
}

td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
    background-image: linear-gradient(45deg, #0cf2182d, rgba(235, 192, 35, 0.668)); 
}

tr:hover td { 
    background: #05530fb6; color: rgb(142, 142, 235); 
}

.form-reserva{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-reserva h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controles{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
}

.form-reserva .boton{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px;
    font-size: 16px;
}

.form-reserva .texto{
	width:72px;
	font-weight:bold;
	display:contents;
}
.container {
    padding: 100px 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

html {height: 100%;}
#degradao {background-image: linear-gradient(45deg, #0cf2182d, rgba(235, 192, 35, 0.668));}

h5, #pecita {
    font-family: sans-serif !important;
    color: #dfe4ec !important;
}
h1{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #2c0900 !important;
}
#lista{
    font-size: 30px;
    font-family: sans-serif !important;
    color: #000000;
}
#cont_lista{
    font-size: 30px;
    font-family: sans-serif !important;
    color: #000000;
}